@model TestCore.Pages.Index
<div>
    @if (Model._summonerDTO != null)
    {
        <h2>Summoner:</h2>
        <p>@Model._summonerDTO.Name</p>
        <p>@Model._summonerDTO.SummonerLevel</p>
        if (Model._matchHistoryDTO != null)
        {
            if (Model._matchHistoryDTO.Matches == null)
            {
                <h4>No recent match history found.</h4>
            }
            else
            { <h2>Match History</h2>
                <h4>Total Games:</h4>
                <p>@Model._matchHistoryDTO.TotalGames</p>
                <ul>
                    @{
                        foreach (var match in Model._champions)
                        {
                            <li>@match.ChampionName</li>
                        }
                    }
                </ul>
            }
        }
    }
</div>