@page "{handler?}"
@model TestCore.Pages.Index
@{
    ViewData["Title"] = "Home";
}
@section Sidebar{
    <p>This is the sidebar content</p>
}
<form asp-page="Index" asp-page-handler="SearchSummoner">
    <div class="form-group" id="Region">
        <p>Region:</p>
        <ul>
            <li>
                <input id="EUNE" type="radio" asp-for="Input.SelectedRegion" value="EUNE" />EUNE
            </li>
            <li>
                <input id="EUW" type="radio" asp-for="Input.SelectedRegion" value="EUW" />EUW
            </li>
            <li>
                <input id="NA" type="radio" asp-for="Input.SelectedRegion" value="NA" />NA
            </li>
        </ul>
        <span asp-validation-for="Input.SelectedRegion" class="text-danger"></span>
    </div>
    <div class="form-group" id="Search">
        <p>Search Summoner</p>
        <label asp-for="Input.SearchTerm">Search term:</label>
        <input id="searchSummonerBtn" asp-for="Input.SearchTerm" />
        <span asp-validation-for="Input.SearchTerm" class="text-danger"></span>
        <input type="submit" value="Search" />
    </div>
</form>

<partial name="_MatchHistory" />
